<<<<<<< HEAD
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
=======
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
>>>>>>> a4447ec6a2d97d2218d98cbecfac217cc39dd6df
